/* purgecss start ignore */
//* Миксин шрифта

adaptiv_font($pcSize, $mobSize)
	font-size: "%spx" % ($pcSize)
	@media mqPhone
		font-size: "%spx" % ($mobSize)

adaptiv_title($pcSize, $tablSize, $mobSize)
	font-size: "%spx" % ($pcSize)
	@media mqTablet
		font-size: "%spx" % ($tablSize)
	@media mqPhone
		font-size: "%spx" % ($mobSize)

adaptiv_lh($pcSize, $tablSize, $mobSize)
	line-height: "%spx" % ($pcSize)
	@media mqTablet
		line-height:  "%spx" % ($tablSize)
	@media mqPhone
		line-height:  "%spx" % ($mobSize)

//* Миксин медиа

$big = 1980px
$tablet = 1240px
$mobile = 767px
$mob = 414px

mqTablet = "only screen and (max-width: " + $tablet + ")"
mqPhone  = "only screen and (max-width: " + $mobile + ")"
mqMob  = "only screen and (max-width: " + $mob + ")"


//* Миксин before after
pseudo($display = block,$content = '')
	content $content
	display $display


//* Миксин скрыть посвдетку элементов
outline-hide()
	-webkit-tap-highlight-color: rgba(0,0,0,0)



btn($topBottom = 19px, $leftRight = 80px)
	border none
	background: var(--main)
	border-radius: 12px
	color: var(--bg)
	text-align center
	padding $topBottom $leftRight
	box-sizing border-box
	cursor pointer
	font-size: 15px
	line-height 18px
	font-weight bold
	&:hover
		background: var(--hover)
		color: var(--bg)
		@media mqTablet
			background: var(--main)




input()
	padding 17px 20px
	box-sizing border-box
	border: 2px solid var(--border)
	border-radius: 2px
	width 100%
	color: var(--text)
	height 56px
	background: transparent
	font-size: 15px
	line-height 22px
	transition: .2s
	// -webkit-appearance: none
	// -moz-appearance: none
	// appearance: none

	// &::-webkit-outer-spin-button,
	// &::-webkit-inner-spin-button 
	// 	display: none
	// 	-webkit-appearance none
	// 	margin 0

	&::placeholder
		color: var(--ltext)
	&:focus
		border-color: var(--text)



textarea()
	input()
	color: var(--text)
	resize: none
	min-height 130px
	vertical-align top

info($left = 0)
	position absolute
	background: var(--bg)
	bottom 0
	transform: translate(-1px,-35px)
	left $left
	padding 15px
	box-sizing border-box
	border: 1px solid var(--border)
	border-radius: 10px
	font-size: 14px
	color: var(--text)
	z-index 1
	max-width 350px
	min-width 350px
	transition: .4s
	opacity 0
	visibility hidden
	box-shadow: 0px 0px 22px rgba(68, 69, 69, 0.12)
	@media mqPhone
		max-width none
		min-width 100%
	&:before
		position absolute
		border: solid transparent
		content: " "
		width 14px
		height 14px
		background: var(--bg)
		border-top-color var(--border)
		border-left-color:  var(--border)
		border-width: 1px
		bottom 0
		transform: translateY(8px) rotate(-135deg)


grid_layout($item = 1, $gap = 10px)
	display grid
	grid-template-columns repeat($item, 1fr)
	grid-gap $gap


loading()
	position absolute
	content: ''
	background-color: rgba(0,0,0 0.6)
	width 100%
	height 100%
	background-image url('/img/preloader.svg')
	z-index 1
	background-repeat no-repeat
	background-position center
	top 0
	left 0
	right 0
	bottom 0


/* purgecss end ignore */