// ? цвета
/* purgecss start ignore */
:root 
	--text: #2E4057
	--ltext: #9F9F9F
	--main: #269926
	--bg: #fff
	--lbg: #fff1eb
	--hover: #00CC00
	--border: #cfcfcf
	--over: #97a0ab
	--mob_bg: #ECECEC
	--light: #FFF5F1
/* purgecss end ignore */