<header class="header">
	<div class="wrap">
		<div class="header__box">
			<a href="/" class="header__logo">my<span>App</span></a>
			<div class="header__box-info">
				<a href="" class="header__enter" style="display: none;">Войти</a>
				<div class="header__user" style="display: none;">Евгений</div>
			</div>
		</div>
	</div>
</header>