.header
	border-bottom 2px solid var(--border)
	padding 10px 0
	margin-bottom 30px
	&__box
		display flex
		align-items center
		&-info
			display flex
			margin-left auto
	&__logo
		color: var(--text)
		adaptiv_title(32, 26, 18)
		adaptiv_lh(40, 34, 24)
		font-weight bold
		&:hover
			color: var(--text)
			opacity 0.6
		& span
			color: var(--main)

		
	&__enter
		color: var(--text)
		font-weight 600