.inner
	display grid
	grid-template-columns: 260px 1fr
	grid-gap 60px

.sidebar
	border-right: 2px solid var(--border)
	padding-right 20px
	&__nav
		display flex
		flex-direction: column
		&-item
			padding 10px 15px
			&.active
				background: var(--main)
				cursor default
				& .sidebar__nav-link
						color: var(--bg)
						cursor default
		&-link
			color: var(--text)
			font-weight 600
			&:last-child
				margin 0


.begin
	&__choose
		display flex
		align-items center
		justify-content center
		border-bottom 1px solid var(--border)
		padding-bottom 20px
		margin-bottom 20px
		&-action
			btn()
			background: var(--bg)
			color: var(--text)
			border: 2px solid var(--ltext)
			margin 0 15px
			padding 10px 15px
			&:hover
				border-color: var(--main)
			&.active
				border-color: var(--main)
				color: var(--bg)
				background: var(--main)
				
