*
	box-sizing border-box

html
	outline-hide()

body
	margin: 0
	padding: 0
	font-family: 'Montserrat'
	font-size: 16px
	line-height normal
	min-width: 320px
	background-color: var(--bg)
	overflow-x: hidden
	position: relative
	color: var(--text)
	min-height 100vh
	display: flex
	flex-direction: column


a
	text-decoration: none
	color: var(--main)
	transition .2s
	&:hover
		color: var(--hover)

button
	transition: .2s
	padding 0
	border: 0
	background: transparent
	&:focus
		outline: none
		
input
	input()

select
	input()


textarea::placeholder
	color: var(--ltext)

input,textarea 
	outline: none

img 
	display: block
	width: 100%
	height: auto

h1
	margin 0
	adaptiv_title(56, 30, 18)
	adaptiv_lh(64, 38, 24)
h2
	margin 0
	adaptiv_title(42, 28, 18)
	adaptiv_lh(50, 36, 24)
h3
	margin 0
	adaptiv_title(32, 26, 18)
	adaptiv_lh(40, 34, 24)
h4
	margin 0
	adaptiv_title(26, 22, 16)
	adaptiv_lh(34, 39, 22)
h5
	margin 0
	adaptiv_title(18, 18, 15)
	adaptiv_lh(26, 26, 22)


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus 
	-webkit-text-fill-color: var(--text) 
	-webkit-box-shadow: 0 0 0px 1000px transparent inset
	transition: background-color 5000s ease-in-out 0s
	background: -webkit-linear-gradient(top,  
	rgba(255,255,255,0) 0%,
	rgba(0,174,255,0.04) 50%,
	rgba(255,255,255,0) 51%,
	rgba(0,174,255,0.03) 100%) 

	// *---------------------


.main
	flex-grow 1


.wrap
	max-width 1200px
	margin 0 auto
	padding 0 10px
	@media mqTablet
		padding 0 40px
	@media mqPhone
		padding 0 20px

.preload
	visibility hidden
	opacity 0
	-webkit-transition: none !important
	-moz-transition: none !important
	-ms-transition: none !important
	-o-transition: none !important

.locked
	overflow hidden



.modal
	z-index 1
	display none
	&.show
		display block
		& .modal__box
				opacity 1
				visibility visible
	& .over
		position fixed
		top 0
		left 0
		right 0
		bottom 0
		background-color rgba(0,0,0, 0.8)
		z-index 1
	&__box
		background-color #fff
		z-index 2
		padding 30px
		position fixed
		top 50%
		left 50%
		transform translate(-50%, -50%)
		width 600px
		opacity 0
		visibility hidden
		transition: .4s
	&__header
		display flex
		align-items center
		margin-bottom 20px
		&-close
			width 20px
			height 20px
			margin-left auto
			cursor pointer
			& .icon
					width 20px
					height 20px
		&-title
			font-size: 20px
			font-weight bold
	&__main
		margin-bottom 20px
		& p
				font-size: 16px
				line-height 24px
	&__footer
		display flex
		align-items center
		&-link
			btn()
			display block
			padding-left 20px
			padding-right 20px
			width 100%
			margin-right 20px
			&:last-child
				margin-right 0
		



		

	
