@import "../utils/mixins.styl";

.auth
	&__title
		margin-bottom 30px
	&__list
		display grid
		grid-template-columns: 1fr 1fr
		grid-gap 25px

	&__item
		position relative
		& label
			font-weight 600
			display block
			margin-bottom 8px
		& .field-error
				font-size: 14px
				background: var(--main)
				color: var(--bg)
				margin-top -1px
				padding 5px 10px
	&__field.error
			border-color: var(--main)


	&__action
		btn()
		display block
		margin 0 auto
		margin-top 50px
		cursor pointer