@import "../utils/mixins.styl";

.select-custom
	position relative
	&__resalt
		input()
		white-space: nowrap
		overflow hidden
		text-overflow: ellipsis
		display block
		max-width 417.5px
		&.error
			border-color: var(--main)	

	&__hide
		position absolute
		background: var(--bg)
		padding 20px 10px
		z-index 1
		box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.75)
		width 100%
		display none
		&.show
			display block
	
	&__item
		margin-bottom 10px
		&:last-child
			margin 0
		& .checkbox
			display none		
		
		& .link
			display flex
			align-items center
			position relative
			font-weight 600
			font-size: 14px
			cursor pointer
			&:before
				content: ''
				width 20px
				height 20px
				border: 1px solid var(--border)
				display block
				border-radius: 4px
				margin-right 10px
			&:after
				content: ''
				width 8px
				height 8px
				background: var(--main)
				position absolute
				left 7px
				visibility hidden
				opacity 0
				transition: .3s
		& .checkbox:checked + .link:after
				visibility visible
				opacity 1