@import "../utils/mixins.styl";

.profile
	&__title
		margin-bottom 30px
	&__item
		font-size: 18px
		font-weight 600
		margin-bottom 20px
		&-about
			font-size: 16px
			font-weight normal
			line-height 24px
	&__options
		display flex
		align-items center
		flex-wrap: wrap
		margin -10px -10px
		margin-bottom 10px
		&-interest
			font-size: 14px
			font-weight 600
			color #ffffff
			padding 5px 10px
			border-radius: 20px
			width max-content
			background-color var(--main)
			margin 10px