@import "../utils/mixins.styl";

.reg
	&__title
		margin-bottom 30px
	&__list
		display grid
		grid-template-columns: 1fr 1fr
		grid-gap 25px

	&__item
		position relative
		& label
			font-weight 600
			display block
			margin-bottom 8px				
		& .field-error
				font-size: 14px
				background: var(--main)
				color: var(--bg)
				margin-top -1px
				padding 5px 10px
	&__field.error
			border-color: var(--main)

	&__action
		btn()
		display block
		margin 0 auto
		margin-top 50px
		cursor pointer
	
	&__message
		position relative
		grid-column 1/3
	
		& label
			font-weight 600
			display block
			margin-bottom 8px		
		&-field
			resize: none
			vertical-align top
			width 100%
			height 120px
			display inline-block
			&.error
				border-color: var(--main)		
	
		& .field-error
				font-size: 14px
				background: var(--main)
				color: var(--bg)
				margin-top -1px
				padding 5px 10px
	&__field.error
			border-color: var(--main)		

	&__add
		display flex
		grid-column 1/3
		& .checkbox
				display none
		&-item
			display flex
			align-items center
			position relative
			font-weight 600
			font-size: 14px
			cursor pointer
			&:before
				content: ''
				width 20px
				height 20px
				border: 1px solid var(--border)
				display block
				border-radius: 4px
				margin-right 10px
			&:after
				content: ''
				width 8px
				height 8px
				background: var(--main)
				position absolute
				left 7px
				visibility hidden
				opacity 0
				transition: .3s
		& .checkbox:checked + .reg__add-item:after
				visibility visible
				opacity 1
			



